header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: solid 3px #DAA520;
  padding-left: 20px;
  z-index: 1;
}

header div {
  display: flex;
}

header div .button {
  margin-left: 20px;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: #fff;
  font-size: 2.5vh;
}

#tetris {
  width: 100%;
  height: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 5vh;
  margin: 0;

  color: #000;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button.disabled {
  cursor: not-allowed;
  background-color: #500;
}

button p {
  color: #fff;
}

button {
  padding: 10px 20px;

  margin: 0;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
}

.spectre--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.game-mode {
  position: absolute;
}

.gif-background {
  background-image: url('/public/img/tetris.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
}
